.flex-container{
  background-color: blue;
  height: 1000px;
  display: flex; 
  flex-direction: column; 	
}

.header{
  background-image: url(../images/ch_46.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 /* lt ie8 */
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center center;

  /* scale bg image proportionately */
  background-size: cover;
  height: 600px;
  order: 1;
  flex-grow: 0;
  flex-shrink: 1;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  order: 2;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: white;	
}

.navbar a{
  font-family: Olivia;
  color: white;
  width: 100px;
  text-align: center;
  background-color: #FFE8E5;
}

.content{
  height: 100%;
  order: 3;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: white;	
}

@media screen and (max-width: 700px) {
  .navbar {   
    flex-direction: column;
   }
}

@font-face {
  font-family: 'Olivia';
  src: url('./fonts/ChopinScript.eot') format('eot'),
  url('./fonts/ChopinScript.woff2') format('woff2'),
  url('./fonts/ChopinScript.woff') format('woff'), 
  url('./fonts/ChopinScript.ttf') format('truetype');	
}
