.flex-container{
  height: 1000px;
  display: flex; 
  flex-direction: column; 	
}

.header{
  background-image: url(../images/ch_26.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 /* lt ie8 */
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center center;

  /* scale bg image proportionately */
  background-size: cover;
  height: 600px;
  order: 1;
  flex-grow: 0;
  flex-shrink: 1;
  min-height:500px;
}


.navbar{
  background-color: white;	
  display: flex;
  justify-content: space-around;
  align-items: center;
  order: 2;
  flex-grow: 0;
  flex-shrink: 1;
}

.navbar a, a:link, a:visited, a:hover, a:active{
  background: url(brush1.png);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0px 8px 0px;
  font-family: Arial;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 25px;
}

.content{
  height: 100%;
  order: 3;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: white;	
}

.content h1{
	font-size: 20px;
	font-family: Arial;
	color:dark grey;
}

.content p{
	font-size: 15px;
	font-family: Calibri;
	color: grey;
}

@media screen and (max-width: 700px) {
  .navbar {   
    flex-direction: column;
   }
   .header{
	   min-height:500px;
   }
}

@font-face {
  font-family: 'Olivia';
  src: url('./fonts/ChopinScript.eot') format('eot'),
  url('./fonts/ChopinScript.woff2') format('woff2'),
  url('./fonts/ChopinScript.woff') format('woff'), 
  url('./fonts/ChopinScript.ttf') format('truetype');	
}
